body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
  background-color: #2978B5;
  color: #8AB6D6;
}

section {
  margin: 0 auto;
  text-align: center;
  line-height: 3;
}

.logo img {
  width: 40%;
}

.text-area h1 {
  font-size: 3rem;
  margin: 5%;
}

.text-area p {
  font-size: 2rem;
    line-height: 1.5;
}

.center {
  margin: 0 auto;
}

.input-group-text {
  width: 7rem;
}

.username-field {
  margin-bottom: 2%;
}

.btn {
  color: #8AB6D6;  
}
